*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.idea/
/build/
/captures
.externalNativeBuild
.cxx
/app/build/
/app/build/
/app/app.iml
/app/.idea/
/app/gradle/
/app/debug/
/app/release/
/app/local.properties
/local.properties
/log_file.log
/app/proguardMapping.txt
